:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif; }

.header {
  background-image: url("../../img/bgr-cover.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 700px;
  position: relative; }
  .header .myNavbar {
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2; }
    .header .myNavbar .navbar-brand {
      flex-grow: 3; }
      .header .myNavbar .navbar-brand img {
        width: 300px; }
    .header .myNavbar .myNavMenu {
      flex-grow: 0; }
      .header .myNavbar .myNavMenu .navbar-nav .nav-item {
        position: relative;
        padding: 5px; }
        .header .myNavbar .myNavMenu .navbar-nav .nav-item .nav-link {
          color: #fff;
          font-size: 20px;
          font-weight: normal;
          letter-spacing: 1px; }
        .header .myNavbar .myNavMenu .navbar-nav .nav-item::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 3px;
          background: linear-gradient(to right, #457aa0, #8fbcdb);
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          width: 0; }
        .header .myNavbar .myNavMenu .navbar-nav .nav-item.active .nav-link {
          color: #fff;
          font-size: 20px;
          font-weight: normal; }
        .header .myNavbar .myNavMenu .navbar-nav .nav-item.active::before {
          width: 100%; }
        .header .myNavbar .myNavMenu .navbar-nav .nav-item:hover .nav-link {
          color: #8fbcdb;
          font-size: 20px;
          font-weight: normal; }
        .header .myNavbar .myNavMenu .navbar-nav .nav-item:hover::before {
          width: 100%; }
  .header .header_overlay {
    background-color: rgba(87, 85, 85, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .header .header_overlay .overlay_content {
      position: absolute;
      top: 35%;
      left: 0;
      height: 100%;
      width: 100%;
      text-align: center; }
      .header .header_overlay .overlay_content h1 {
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: 2px;
        margin-bottom: 15px; }
        .header .header_overlay .overlay_content h1 span {
          margin: 0;
          color: #8fbcdb;
          font-size: 50px;
          font-weight: bold;
          text-transform: uppercase; 
          animation: light 2.4s linear infinite;

        }
        .header .header_overlay .overlay_content h1 span:nth-child(1){
          animation-delay: 0s;
        }
        .header .header_overlay .overlay_content h1 span:nth-child(2){
          animation-delay: 0.2s;
        }
        .header .header_overlay .overlay_content h1 span:nth-child(3){
          animation-delay: 0.4s;
        }
        .header .header_overlay .overlay_content h1 span:nth-child(4){
          animation-delay: 0.6s;
        }
        .header .header_overlay .overlay_content h1 span:nth-child(5){
          animation-delay: 0.8s;
        }
        .header .header_overlay .overlay_content h1 span:nth-child(6){
          animation-delay: 1s;
        }
        .header .header_overlay .overlay_content h1 span:nth-child(7){
          animation-delay: 1.2s;
        }
        .header .header_overlay .overlay_content h1 span:nth-child(8){
          animation-delay: 1.4s;
        }
        .header .header_overlay .overlay_content h1 span:nth-child(9){
          animation-delay: 1.6s;
        }
        .header .header_overlay .overlay_content h1 span:nth-child(10){
          animation-delay: 1.8s;
        }
        .header .header_overlay .overlay_content h1 span:nth-child(11){
          animation-delay: 2s;
        }
        .header .header_overlay .overlay_content h1 span:nth-child(12){
          animation-delay: 2.2s;
        }
        .header .header_overlay .overlay_content h1 span:nth-child(13){
          animation-delay: 2.4s;
        }
      .header .header_overlay .overlay_content p {
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 35px; }
      .header .header_overlay .overlay_content .overlay_btn .btn {
        border: unset;
        padding: 8px 20px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        background: linear-gradient(to right, #302d2d, #3a3639);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        margin: 0 10px;
        position: relative;
        z-index: 2; }
        .header .header_overlay .overlay_content .overlay_btn .btn span {
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          line-height: 26px;
          position: relative;
          z-index: 3; }
        .header .header_overlay .overlay_content .overlay_btn .btn::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to right, #457aa0, #c49b66);
          opacity: 0;
          z-index: -1;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px; }
        .header .header_overlay .overlay_content .overlay_btn .btn:hover::before {
          opacity: 1; }
      .header .header_overlay .overlay_content .overlay_btn .btn_right {
        padding: 8px 34px; }

@media (max-width: 1200px) {
  .header .myNavbar .myNavMenu .navbar-nav .nav-item {
    padding: 5px 0; }
  .header .header_overlay .overlay_content {
    top: 50%; } }
@media (max-width: 768px) {
  .header .navbar-toggler {
    border-color: #457aa0;
    background-color: #457aa0; }
    .header .navbar-toggler:focus {
      outline: none; } }
.about {
  padding: 100px 0; }
  .about .about_left {
    align-self: center; }
    .about .about_left img {
      width: 320px;
      height: 320px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); }
  .about .about_right .about_content h3 span {
    color: #457aa0;
    font-size: 30px;
    font-weight: bold; }
  .about .about_right .about_content p {
    color: #686f7a;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px; }
  .about .about_right .about_content .about_contact h4 {
    margin-right: 15px;
    color: #29303b;
    font-size: 25px;
    font-weight: bold; }
  .about .about_right .about_content .about_contact .about_logo a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #29303b;
    font-size: 15px;
    font-weight: normal;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin: 0 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s; }
    .about .about_right .about_content .about_contact .about_logo a:hover {
      box-shadow: none;
      color: #fff;
      font-size: 15px;
      font-weight: normal;
      background-color: #457aa0; }
  .about .about_right .about_content .about_btn {
    margin-top: 25px; }
    .about .about_right .about_content .about_btn .btn {
      padding: 8px 20px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      background: #fff;
      margin-right: 10px;
      position: relative; }
      .about .about_right .about_content .about_btn .btn span {
        color: #29303b;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 3;
        position: relative;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s; }
      .about .about_right .about_content .about_btn .btn::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, #457aa0, #c49b66);
        z-index: 1;
        opacity: 0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px; }
      .about .about_right .about_content .about_btn .btn:hover {
        box-shadow: none; }
        .about .about_right .about_content .about_btn .btn:hover::before {
          opacity: 1; }
        .about .about_right .about_content .about_btn .btn:hover span {
          color: #fff;
          font-size: 14px;
          font-weight: bold; }

@media (max-width: 1200px) {
  .about .about_right .about_content h3 span {
    color: #457aa0;
    font-size: 28px;
    font-weight: bold; } }
@media (max-width: 992px) {
  .about .about_left img {
    width: 100%;
    height: 215px; }
  .about .about_right .about_content h1 {
    color: #29303b;
    font-size: 35px;
    font-weight: 600; }
  .about .about_right .about_content h3 {
    color: #29303b;
    font-size: 28px;
    font-weight: 600; }
    .about .about_right .about_content h3 span {
      color: #457aa0;
      font-size: 26px;
      font-weight: bold; } }
@media (max-width: 768px) {
  .about .about_left {
    padding: 0 145px;
    margin-bottom: 25px; }
    .about .about_left img {
      width: 250px;
      height: auto; }
  .about .about_right .about_content {
    text-align: center; }
    .about .about_right .about_content .about_contact h4 {
      margin-right: 35px;
      margin-left: 40px; } }
.skill {
  padding: 100px 0;
  background-color: rgba(20, 23, 28, 0.05); }
  .skill .skill_content h1 {
    color: #29303b;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
    letter-spacing: 5px; }
  .skill .skill_content .items .item {
    margin: auto; }
    .skill .skill_content .items .item p {
      color: #29303b;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .skill .skill_content .items .item .myProgressBar {
      height: 30px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      padding: 5px 5px 5.5px;
      background-color: #a9a8a8;
      overflow: hidden;
      margin-bottom: 25px;
      width: 90%; }
      .skill .skill_content .items .item .myProgressBar .progress-bar {
        color: #a9a8a8;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        background-color: #fff;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        position: relative; }
        .skill .skill_content .items .item .myProgressBar .progress-bar::before {
          content: "";
          position: absolute;
          top: 2px;
          right: 3px;
          width: 16px;
          height: 16px;
          line-height: 16px;
          background-color: #d6b161;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px; }

.porfolio {
  padding: 100px 0; }
  .porfolio .porfolio_content h1 {
    text-align: center;
    text-transform: uppercase;
    color: #29303b;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 35px; }
  .porfolio .porfolio_content .porfolio_items .myNavTab {
    border: none;
    padding: 0 300px;
    margin-bottom: 60px; }
    .porfolio .porfolio_content .porfolio_items .myNavTab .nav-item {
      margin: 0 10px; }
      .porfolio .porfolio_content .porfolio_items .myNavTab .nav-item .nav-link {
        border: none;
        color: #29303b;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        width: 100px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        padding: 0;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s; }
        .porfolio .porfolio_content .porfolio_items .myNavTab .nav-item .nav-link.active {
          background: linear-gradient(to right, #d6b161, #c49b66);
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          box-shadow: none;
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s; }
        .porfolio .porfolio_content .porfolio_items .myNavTab .nav-item .nav-link:hover {
          background: linear-gradient(to right, #d6b161, #c49b66);
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          box-shadow: none; }
  .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item {
    cursor: pointer;
    position: relative;
    transition: all 0.5;
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5; 
      }
    .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item img {
      height: 220px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); }
    .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item .img_overlay {
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      height: 100%;
      background: rgba(7, 24, 40, 0.6);
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      opacity: 0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s; }
      .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item .img_overlay .overlay_content p {
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: 2px;
        margin: 0;
        padding-left: 34%;
        padding-top: 32%;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s; }
    .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item:hover .img_overlay {
      opacity: 1; }
      .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item:hover .img_overlay .overlay_content p {
        padding-top: 28.5%; }
  .porfolio .porfolio_content .porfolio_items .myTab_content #brand .myTab_item {
    position: relative;
    transition: all 0.5;
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5; }
    .porfolio .porfolio_content .porfolio_items .myTab_content #brand .myTab_item img {
      height: 220px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); }
    .porfolio .porfolio_content .porfolio_items .myTab_content #brand .myTab_item .img_overlay {
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      height: 100%;
      background: rgba(7, 24, 40, 0.6);
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      opacity: 0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s; }
      .porfolio .porfolio_content .porfolio_items .myTab_content #brand .myTab_item .img_overlay .overlay_content h1 {
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: 2px;
        margin: 0;
        padding-left: 45%;
        padding-top: 32%;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s; }
    .porfolio .porfolio_content .porfolio_items .myTab_content #brand .myTab_item:hover .img_overlay {
      opacity: 1; }
      .porfolio .porfolio_content .porfolio_items .myTab_content .cr7 {
        color: #c0e59d;
        margin-top: 20%
      }
  .porfolio .porfolio_content .porfolio_items .myTab_content #brand .item_two {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; }

@media (max-width: 1200px) {
  .porfolio .porfolio_content .porfolio_items .myNavTab {
    padding: 0 225px; }
  .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item img {
    height: 205px; }
  .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item .img_overlay .overlay_content p {
    padding-left: 30%;
    padding-top: 37%; }
  .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item:hover .img_overlay .overlay_content p {
    padding-top: 33.5%; } }
@media (max-width: 992px) {
  .porfolio .porfolio_content .porfolio_items .myNavTab {
    padding: 0 105px; }
  .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item img {
    height: 170px; }
  .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item .img_overlay .overlay_content p {
    padding-left: 23%; } }
@media (max-width: 768px) {
  .porfolio .porfolio_content .porfolio_items .myNavTab {
    padding: 0 5px; }
  .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item {
    margin: auto;
    width: 90%;
    margin-bottom: 25px; }
    .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item img {
      height: 250px; }
    .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item .img_overlay .overlay_content p {
      padding-left: 37%;
      padding-top: 29%; }
    .porfolio .porfolio_content .porfolio_items .myTab_content #all .myTab_item:hover .img_overlay .overlay_content p {
      padding-top: 25.5%; } }
.service {
  padding: 100px 0;
  background-color: rgba(20, 23, 28, 0.05); }
  .service h1 {
    text-align: center;
    text-transform: uppercase;
    color: #29303b;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 15px; }
  .service p {
    color: #29303b;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    width: 60%;
    margin: auto;
    text-align: center; }
  .service .service_items {
    position: relative;
    margin-top: 50px; }
    .service .service_items .item {
      height: 280px; }
      .service .service_items .item img {
        width: 90%;
        height: 280px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s; }
      .service .service_items .item .service_overlay {
        position: absolute;
        bottom: 0px;
        left: 10px;
        width: 100%; }
        .service .service_items .item .service_overlay .overlay_content h5 {
          color: #c49b66;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 1px;
          margin-bottom: 2px;
          text-transform: uppercase; }
        .service .service_items .item .service_overlay .overlay_content h4 {
          color: #29303b;
          font-size: 14px;
          font-weight: normal;
          text-transform: capitalize;
          letter-spacing: 1px;
          margin-top: 5px; }
      .service .service_items .item:hover img {
        top: -50px; }
    .service .service_items .owl-nav .owl-prev {
      position: relative;
      outline: none; }
      .service .service_items .owl-nav .owl-prev span {
        position: absolute;
        top: -193px;
        left: -574px;
        color: #c49b66;
        font-size: 27px;
        font-weight: 600;
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 40px;
        text-align: center;
        margin: 0;
        background-color: #fff;
        border-radius: 22px;
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        -ms-border-radius: 22px;
        -o-border-radius: 22px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); }
    .service .service_items .owl-nav .owl-next {
      position: relative;
      outline: none; }
      .service .service_items .owl-nav .owl-next span {
        position: absolute;
        top: -193px;
        right: -546px;
        color: #c49b66;
        font-size: 27px;
        font-weight: 600;
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 40px;
        text-align: center;
        margin: 0;
        background-color: #fff;
        border-radius: 22px;
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        -ms-border-radius: 22px;
        -o-border-radius: 22px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); }
    .service .service_items .owl-dots {
      display: none; }

@media (max-width: 1200px) {
  .service .service_items .item img {
    height: 250px; }
  .service .service_items .item .service_overlay {
    left: 6px;
    bottom: 25px; }
    .service .service_items .item .service_overlay .overlay_content h5 {
      letter-spacing: 0; }
  .service .service_items .owl-nav .owl-prev span {
    top: -205px;
    left: -484px; }
  .service .service_items .owl-nav .owl-next span {
    top: -205px;
    right: -461px; } }
@media (max-width: 992px) {
  .service .service_items .item img {
    height: 235px; }
  .service .service_items .item .service_overlay {
    left: 6px;
    bottom: 40px; }
  .service .service_items .owl-nav .owl-prev span {
    top: -210px;
    left: -364px; }
  .service .service_items .owl-nav .owl-next span {
    top: -210px;
    right: -341px; } }
@media (max-width: 768px) {
  .service .service_items .item img {
    height: 180px; }
  .service .service_items .item .service_overlay {
    left: 6px;
    bottom: 95px; }
    .service .service_items .item .service_overlay .overlay_content h5 {
      color: #c49b66;
      font-size: 15px;
      font-weight: 700; }
    .service .service_items .item .service_overlay .overlay_content h4 {
      letter-spacing: 0; }
  .service .service_items .owl-nav .owl-prev span {
    top: -237px;
    left: -275px; }
  .service .service_items .owl-nav .owl-next span {
    top: -237px;
    right: -258px; } }
@media (max-width: 576px) {
  .service .service_items .item img {
    width: 80%;
    height: 285px;
    padding-left: 19%; }
  .service .service_items .item .service_overlay {
    left: 108px;
    bottom: -5px; }
    .service .service_items .item .service_overlay .overlay_content h5 {
      color: #c49b66;
      font-size: 15px;
      font-weight: 700; }
    .service .service_items .item .service_overlay .overlay_content h4 {
      letter-spacing: 1px; }
  .service .service_items .owl-nav .owl-prev span {
    top: -195px;
    left: -185px; }
  .service .service_items .owl-nav .owl-next span {
    top: -195px;
    right: -177px; } }
.reference {
  padding: 100px 0;
  background-image: url("../../img/10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  .reference .container {
    z-index: 3; }
    .reference .container .reference_content {
      padding: 50px;
      background-color: #fff; }
      .reference .container .reference_content h1  {
        text-align: center;
    text-transform: uppercase;
    color: #29303b;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 15px;
      }
      .reference .container .reference_content .items .item {
        text-align: center; }
        .reference .container .reference_content .items .item .logo {
          align-self: center;
          margin: 0 25px; }
          .reference .container .reference_content .items .item .logo i {
            color: #29303b;
            font-size: 40px;
            font-weight: normal; }
        .reference .container .reference_content .items .item .item_content h4 {
          color: #d6b161;
          font-size: 45px;
          font-weight: 600;
          letter-spacing: 3px;
          margin-bottom: 2px; }
        .reference .container .reference_content .items .item .item_content p {
          margin-bottom: 0;
          color: #29303b;
          font-size: 14px;
          font-weight: 600;
          text-transform: capitalize;
          letter-spacing: 1px; }

@media (max-width: 1200px) {
  .reference .container .reference_content {
    padding: 40px; }
    .reference .container .reference_content .items .item .logo {
      margin: 0 10px; }
      .reference .container .reference_content .items .item .logo i {
        color: #29303b;
        font-size: 35px;
        font-weight: normal; }
    .reference .container .reference_content .items .item .item_content h4 {
      color: #d6b161;
      font-size: 40px;
      font-weight: 600; }
    .reference .container .reference_content .items .item .item_content p {
      letter-spacing: 0; } }
@media (max-width: 992px) {
  .reference .container .reference_content {
    padding: 20px; }
    .reference .container .reference_content .items .item .logo {
      margin: 0 6px; }
      .reference .container .reference_content .items .item .logo i {
        color: #29303b;
        font-size: 25px;
        font-weight: normal; }
    .reference .container .reference_content .items .item .item_content h4 {
      color: #d6b161;
      font-size: 30px;
      font-weight: 600; } }
@media (max-width: 768px) {
  .reference .container .reference_content {
    padding: 40px; }
    .reference .container .reference_content .items .item .logo {
      margin: 20px 25px 15px 115px; }
      .reference .container .reference_content .items .item .logo i {
        color: #29303b;
        font-size: 35px;
        font-weight: normal; }
    .reference .container .reference_content .items .item .item_content h4 {
      color: #d6b161;
      font-size: 45px;
      font-weight: 600; } }
.contact .contact_content {
  padding: 100px 0 20px; }
  .contact .contact_content h1 {
    color: #29303b;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 5px; }
  .contact .contact_content p {
    color: #29303b;
    font-size: 15px;
    font-weight: normal;
    width: 60%;
    margin: auto;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 25px; }
  .contact .contact_content .contact_form {
    margin: auto;
    width: 80%; }
    .contact .contact_content .contact_form .form-group {
      margin-bottom: 25px; }
      .contact .contact_content .contact_form .form-group span {
        display: inline-block;
        margin-bottom: 10px; }
      .contact .contact_content .contact_form .form-group .form-control:focus {
        border-color: #ced4da;
        box-shadow: none; }
      .contact .contact_content .contact_form .form-group #textArea {
        width: 100%;
        border: 1px solid #ced4da; }
      .contact .contact_content .contact_form .form-group .btnSend {
        margin-top: 25px;
        margin-left: 81%;
        padding: 10px 27px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        background: linear-gradient(to right, #c49b66, #d6b161);
        position: relative;
        z-index: 2;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s; }
        .contact .contact_content .contact_form .form-group .btnSend span {
          color: #fff;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 1px;
          margin-bottom: 0;
          position: relative;
          z-index: 3; }
        .contact .contact_content .contact_form .form-group .btnSend::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to right, #d6b161, #c49b66);
          z-index: -1;
          border-radius: 30px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;
          opacity: 0;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s; }
        .contact .contact_content .contact_form .form-group .btnSend:hover::before {
          opacity: 1; }

@media (max-width: 1200px) {
  .contact .contact_content .contact_form .form-group .btnSend {
    margin-left: 68%; } }
@media (max-width: 992px) {
  .contact .contact_content .contact_form .form-group .btnSend {
    margin-left: 60%; } }
@media (max-width: 768px) {
  .contact .contact_content .contact_form .form-group .btnSend {
    margin-left: 70%; } }
@media (max-width: 768px) {
  .contact .contact_content .contact_form .form-group .btnSend {
    margin-left: 70%; } }
@media (max-width: 576px) {
  .contact .contact_content .contact_form .form-group .btnSend {
    margin-left: 60%; } }

/*# sourceMappingURL=style.css.map */
/* Animate */
@keyframes light
{
  0%,100%{
    color: #fff;
    filter: blur(2px);
    text-shadow:0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px #00b3ff,
                0 0 120px #00b3ff,
                0 0 200px #00b3ff,
                0 0 300px #00b3ff,
                0 0 4000px #00b3ff,
                

  }
  0%,95%{
    color:#00b3ff;
    filter: blur(0px);
    text-shadow: none;
  }
}